# for JWT access tokens
SECRET_KEY=
# for JWT refresh tokens
REFRESH_SECRET_KEY=
#server port
SERVER_ADDR=
# full db url
DB=
FRONTEND_URL=
# how long should the access token should last
TOKEN_EXPR_HOURS=
IMG_STORE=images/
GEMINI_API_KEY=

ADMIN_PASSWORD=
ADMIN_EMAIL=

